@font-face {
  font-family: 'Ease2AI-two';
  src:  url('fonts/Ease2AI-two.eot?7sc5yz');
  src:  url('../font/Ease2AI-two.eot') format('embedded-opentype'),
    url('../font/Ease2AI-two.ttf') format('truetype'),
    url('../font/Ease2AI-two.woff') format('woff'),
    url('https://layerdrops.com/Ease2AIhtml/main-html/assets/vendors/Ease2AI-two-icons/fonts/Ease2AI-two.svg?7sc5yz') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="Ease2AI-two-icon-"], [class*=" Ease2AI-two-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Ease2AI-two' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Ease2AI-two-icon-manufacturing:before {
  content: "\e900";
}
.Ease2AI-two-icon-freelance:before {
  content: "\e901";
}
